<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agriculture Optimization{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'farm_list' %}">Farms</a></li>
                <li><a href="{% url 'add_farm' %}">Add Farm</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>    
</body>
</html>
