{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <!-- Left Section: Form -->
    <div class="left-section">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div>
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div>
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                <button type="submit">Register</button>
             <!-- Login Redirect Link -->
             <div class="login-redirect">
                <p>Already have an account? 
                    <a href="{% url 'login' %}" class="btn-login">Log in</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Right Section: Image Background -->
    <div class="right-section">
        <img src="{% static 'images/register.jpg' %}" alt="Background Image" class="right-image">
    </div>
</div>
{% endblock %}
